
*{
    overflow-x: hidden;
}

#showcase{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(151, 11, 109);
    background: url('../img/donutdark.png') no-repeat center center/cover;
    background-size:80%;
    background-position-y:auto;
    background-color: rgb(245, 121, 224);

    /*overlay*/
    background-color: rgba(245, 121, 224,0.5);
    background-blend-mode: color;

}

#showcase-container p{
    text-align: center;
    font-size: 15px;
}
#showcase-container h2{
    font-size: 1.5rem;

}

.head{
    margin-top: 50%;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
    color: rgb(151, 11, 109);
    font-weight: bold;
}


.btn{
    display: inline-block;
    justify-content: center;
    padding: 5px 15px;
    font-size:15px ;
    text-transform: uppercase;
    background-color: rgb(151, 11, 109);
    color: #eee;
    border-radius: 5px;
    transition: 0.5s;
}
#navbar{
    height: 110px;
   

}
.logo{
    display: none;
}

#navbar-container{
    flex-direction: column;
    padding: 10px;
}

#navbar-itens {
    flex-direction: column;
    text-align: center;
    overflow-y: hidden;
}
#navbar-itens li:nth-child(2) 
{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow-y: hidden;
}

.headline{
    font-size: 1em;

}
/*showcase*/
#showcase-container{
    padding: 10px;
    margin-top: 55%;
    font-size: 1rem;
}

/*clients*/

.clients-container{
    grid-template-columns: repeat(2, 1fr);
}

.client{
width: 50%;
}

/*features*/

.feature {
    padding: 4px;
    border-radius: 5px;
    font-size: 10px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
}
#features-container {
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2){
    margin: 15px 0;

}

/*product*/

#product-container{ 
    flex-direction: column;
}



#items{
    width: 90%;
    font-size: 10px;
   
}

.item{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0%;
   
}

.donut{
    width: 100px;
}

/*testimonials*/

.testimonial {
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    padding: 5px;
}


#testimonials-container{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*gallery*/

#gallery-container, .gallery-container{
    grid-template-columns: 2fr;
    
}
#gallery{
    margin-top: 10%;
}

.card_img{
    width: 100px;
    height: 100px;
    overflow: hidden; 
    border-radius: 0%;   
    box-shadow: 1px 1px 25px black;
    font-size: 8px;
}

.modal-img{
    width: 80vw;

}
.modal{
    margin-top: 40%;
    width: 100vw;
    height: 100%;
 
}

.gallery-image{
    width: 100%;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 0%;
    
    
 }

 .small_img{
    height: 80%;
    border-radius: 5px;
  
}

.small_img:hover{
    filter: none;
    transform: none;
    
}

.galeria{
    display: grid;
    margin: 8px 8px 0 8px;
    margin-bottom: 15px;

 }
 .foto{
    justify-self: center;
    height: 45vw;
    width: 45vw;
    border-radius: 5px;
    margin-right: 25vw;
    margin-left: 25vw;

    
}

h3{
    margin-top: 5px;
   text-align: center;
   font-size: 1em;

 }

.button{
    position:relative;
    top: -30vw;
    left:79%;
    width: 20px;
}


.button-voltar{
    display:none;
    position:relative;
    top: -30vw;
    left: 4%;
    height: 20px;
    width: 20px;


}
.button-galeria{
   width: 50%;
   height: 30px;
   display: flex;
    justify-content: center;
    font-size: 1em;
    align-items: center;
}

#hora{
    display: none;

    
 }

 #cop{
    display: block;
    margin: auto;
    font-size: 10px;

 }

 #footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    bottom: 0;
    background-color: #222;
    color:#eee;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 1%;
 }

 @media(orientation:landscape){
    #navbar{
        position: relative;
        height: 40px;
        margin-top: 0;
    
    }
        
    
    
    #navbar-container{
        width: 80%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
      
        
    }

    .logo{
        display: none;
    }
    .gallery-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 0%;
        
        
     }

    #navbar-itens {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-transform: uppercase;
        margin-top: -12px;

    }
    #showcase{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color:rgb(151, 11, 109);
        background: url('../img/donutdark.png') no-repeat center center/cover;
        background-size:40%;
        background-position-y:bottom;
        background-color: rgb(245, 121, 224);
       
        
        /*overlay*/
        background-color: rgba(245, 121, 224,0.5);
        background-blend-mode: color;
    
    }

    #showcase-container{
        padding:5px;
        margin-top: 15%;
        font-size: x-small;
    }

    .btn{
        display: inline-block;
        justify-content: center;
        padding: 5px 20px;
        font-size:1.1rem ;
        text-transform: uppercase;
        background-color: rgb(151, 11, 109);
        color: #eee;
        border-radius: 5px;
        transition: 0.5s;
    }

    .clients-container{
    
        display: flex;
        justify-content: center;
        padding: 5px 0;
        gap:17%;
        }

        .modal{
            margin-top: -10%;
            width: 100vw;
            height: 107%;
         
        }
        .modal-img{
            width: 40vw;
        
        }
        .bt_close{
            left: 90%;
            top:15px;
            padding: 5px 10px;
            font-size: 15px;
            border-radius: 5px;
            
        
        }

        #gallery{
            margin-top: 0;
        }

        .head{
            margin-top:10%;
        }

        .testimonial {
            flex-direction: column;
            text-align: center;
            font-size: 17px;
            padding: 0px;
        }

        .feature {
            padding: 5px;
            border-radius: 5px;
            font-size: 15px;
        }

    
 }


